<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="p_recommendMapper">
    
    <!-- List -->
    <select id="p_recommend" parameterType="java.lang.String" resultType="P_recommendDTO">
    <!--  parameter type 받아오는 객체 --> 
    select * from p_recommend where kind=#{kind} order by num
    </select>
	
</mapper>