@CHARSET "UTF-8";
	header {
		position: static;
	}
	
	.main_section {
		margin-top: 30px;
		height: auto;
	}
	
	.container {
		width: 100%;
		padding: 0 0;
	}
	
	.pro_title_wrap {
		position: relative;
		width: 100%;
		height: 40px;
		margin: 0 0 10px 0;
		border-bottom: 3px solid #ddd;
	}
	
	.pro_title {
		float: left;
		width: 835px;
		padding: 3px 0 10px;
		color: #333;
		font-family: 'Malgun Gothic', sans-serif;
		font-size: 24px;
		line-height: 24px;
		font-weight: bold;
		letter-spacing: -1px;
	}
	
	.pro_detail_left {
		position: relative;
		float: left;
		width: 50%;
		padding-bottom: 20px;
	}
	
	.pro_detail_left img {
		width: 450px;
		height: 450px;
		margin-left: 10%;
	}
	
	.pro_detail_right {
		float: right;
		width: 50%;
	}
	
	.pro_price_info {
		padding: 5px 0;
		margin-top: 50px;
		border-bottom: 1px solid #e5e5e5;
		color: #555;
		line-height: normal;
	}
	
	.detail_price {
		font-weight: bold;
		color: #ec5d46;
		position: relative;
		padding: 4px 0 4px 135px;
	}
	
	.pro_price_info strong {
		left: 0;
		top: 14px;
		position: absolute;
		width: 135px;
		display: block;
		padding-left: 11px;
		font-weight: normal;
		color: #888;
	}
	
	.pro_price_info span {
		font-weight: bold;
		color: #ec5d46;
		font-size: 25px;
	}
	
	.pro_detail_info {
		padding: 5px 0;
		border-bottom: 1px solid #e5e5e5;
		color: #555;
		line-height: normal;
	}
	
	.pro_detail_info strong {
		position: absolute;
		left: 0;
		width: 135px;
		display: block;
		padding-left: 11px;
		font-weight: normal;
		color: #888;
	}
	
	.pro_detail_info div {
		position: relative;
		padding: 4px 0 4px 135px;
	}
	
	.detail_3 {
		color: #ec5d46;
		font-weight: bold;
	}
	
	.detail_3 span {
		margin: 5px 0 0;
		font-size: 12px;
		font-weight: normal;
		color: #999;
		line-height: 120%;
	}
	
	.detail_4 span {
		margin: 5px 0 0;
		font-size: 12px;
		font-weight: normal;
		color: #999;
		line-height: 120%;
	}
	
	.pro_detail_btn {
		margin-top: 20px;
		padding: 15px 0;
		text-align: center;
	}
	
	.clear {
		clear: both;
	}
	
	li {
		display: block;
	}
	
	.recomm {
		margin: 32px 0 52px;
	}
	
	.recomm strong {
		font-size: 17px;
		color: #333;
		letter-spacing: -0.05em;
	}
	
	.picoSlider {
		position: relative;
		margin-top: 12px;
		padding: 24px 3px 0 37px;
		border-top: 1px solid #ddd;
	}
	
	.picoSlider .count {
		position: absolute;
		top: -30px;
		right: 0;
		font-size: 14px;
		color: #3f3f3f;
	}
	
	.picoSlider>button {
		position: absolute;
		top: 81px;
		width: 25px;
		height: 54px;
		background-color: #ddd;
		border: none;
	}
	
	.picoSlider>button.prev {
		left: 0;
	}
	
	.picoSlider .picoInner {
		overflow: hidden;
		position: relative;
		width: 1080px;
		height: 230px;
	}
	
	.picoSlider .picoInner>ul {
		position: absolute;
		overflow: hidden;
		width: 2256px;
	}
	
	.picoSlider .picoInner>ul>li {
		float: left;
		width: 150px;
		height: 230px;
		margin: 0 33px;
	}
	
	.picoSlider .picoInner .img {
		border: 1px solid #eaeaea;
		width: 150px;
		height: 150px;
	}
	
	.picoSlider .picoInner .img img {
		width: 148px;
		height: 148px;
	}
	
	.picoSlider .iName {
		display: block;
		overflow: hidden;
		margin: 18px 0 7px;
		max-height: 34px;
		line-height: 17px;
		font-size: 12px;
		letter-spacing: -0.05em;
		color: #555;
	}
	
	.picoSlider .iHowmuch {
		overflow: hidden;
	}
	
	.picoSlider .iHowmuch>span {
		font-size: 13px;
	}
	
	.picoSlider .iCost {
		float: left;
		color: #333;
	}
	
	.picoSlider .iCost>span {
		font-weight: bold;
	}
	
	.picoSlider .iCost>span, .picoSlider .iPrice>span {
		font-family: Tahoma;
	}
	
	.picoSlider>button.next {
		right: 0;
	}
	
	.detail_bann {
		width: 100%;
		height: 100px;
		margin-bottom: 20px;
	}
	
	.detail_bann_img {
		width: 100%;
		height: 100%;
	}
	
	.view_menu {
		margin: 0 auto;
		width: 60%;
		height: 77px;
		min-width: 1150px;
		border-bottom: 1px solid #a0a0a0;
		padding: 13px 0 14px;
		background-color: rgba(255, 255, 255, 0.97);
		z-index: 10;
	}
	
	.vmenu {
		float: left;
		text-align: center;
		text-decoration: none;
		font-size: 16px;
		letter-spacing: -0.05em;
		color: #999;
		height: 30px;
		line-height: 30px;
		width: 18%;
		margin-right: 2.5%;
		margin-top: 20px;
		cursor: pointer;
		background-color: none;
	}
	
	.active {
		padding-bottom: 40px;
		/* color: #029aff; */
		color: #029aff;
		border-bottom: 4px solid #029aff;
	}
	
	.m_refund {
		margin-right: 0px;
	}
	
	.product_read {
		font-family: 'Malgun Gothic', 'Dotum', sans-serif;
		font-size: 20px;
		font-weight: bold;
		width: 680px;
		margin: 30px auto 10px;
		letter-spacing: normal;
		color: rgb(118, 118, 118);
	}
	
	.table_goodsDetail {
		width: 680px;
		margin: 0 auto;
	}
	
	.table_goodsDetail td.tit {
		border: 0;
		padding: 0;
		background: none;
	}
	
	.table_goodsDetail th {
		color: #666;
		font-weight: normal;
		background-color: #f6f6f6;
		border-top: 1px solid #dfdfdf;
		border-bottom: 1px solid #dfdfdf;
		border-right: 1px solid #dfdfdf;
		padding: 10px 12px 8px 20px;
	}
	
	.table_goodsDetail td {
		color: #666;
		border-bottom: 1px solid #dfdfdf;
		padding: 10px 12px 8px 20px;
		letter-spacing: -.1em;
	}
	
	.table_goodsDetail tr.first th, .table_goodsDetail tr.first td {
		border-top: 2px solid #dfdfdf;
	}
	
	.detail_img{
		margin-top: 20px;
	}
	
	.detail_img img {
		margin: 0 auto;
		display: table-cell;
	}
	
	.v_review {
		width: 100%;
	}
	
	.v_title {
		width: 100%;
		font-family: 'Noto Sans KR' !important;
		font-size: 20px;
		font-weight: bold;
		letter-spacing: -0.03em;
		color: #333;
		border-bottom: 1px solid #999;
		margin-top: 30px;
	}
	
	.v_num {
		font-family: Tahoma, sans-serif;
		color: #ec5d46;
		font-size: 14px;
		line-height: normal;
	}
	
	.v_qna {
		width: 100%;
		height: 500px;
	}
	
	.v_delivery {
		width: 100%;
		margin-bottom: 100px;
	}
	
	.v_refund {
		width: 100%;
		margin-bottom: 100px;
	}
	
	.goods-review--board {
		width: 100%;
		height: auto;
		margin-top: -5px;
	}
	
	.goods-review--board td {
		position: relative;
		height: 50px;
		border-bottom: 1px solid #e1e1e1;
		font-family: 'Dotum';
		font-size: 12px;
		color: #676767;
		text-align: center;
		vertical-align: middle;
	}
	
	.goods-review--board .review-star {
		display: inline-block;
		width: 100px;
		height: 14px;
		margin-left: 19px;
		background-image: url(../../../images/csy/star-package99x99.gif);
		background-repeat: no-repeat;
		background-position: left top;
		text-indent: -9999px;
	}
	
	.goods-review--board .review-star4 {
		background-position: 0 -17px;
	}
	
	.goods-review--board .review-star3 {
		background-position: 0 -33px;
	}
	
	.goods-review--board .review-star2 {
		background-position: 0 -52px;
	}
	
	.goods-review--board .review-star1 {
		background-position: 0 -69px;
	}
	
	.goods-review--board .review-star0 {
		background-position: 0 -85px;
	}
	
	.goods-review--board td.__left {
		text-align: left;
	}
	
	.goods-review--board tr.detail td {
		height: auto;
		border: 0;
	}
	
	/**/
	.pic {
		overflow: hidden;
		padding: 22px 20px 20px;
		font-family: 'Noto Sans KR' !important;
		font-size: 14px;
		line-height: 1.71em;
		letter-spacing: -0.05em;
		color: #666;
		/* 	     padding: 20px 0 0; */
	}
	
	.pic ul.dot>li:before {
		display: inline-block;
		content: "·";
	}
	
	.pic table {
		width: 100%;
	}
	
	.pic .rows tr:first-child th, .pic .rows tr:first-child td {
		border-top: 0;
	}
	
	.pic .rows th {
		padding: 20px;
		font-weight: bold;
	}
	
	.pic .dot, .pic ul.dot>li {
		display: block;
		padding-left: 6px;
		text-indent: -4px;
	}
	
	.pic .c-or {
		color: #fc3f19;
	}
	
	.pic .rows th, .pic .rows td {
		border-top: 1px solid #e0e0e0;
	}
	
	.pic th {
		font-weight: 400;
		line-height: 1.29em;
		color: #333;
		background-color: #f4f4f4;
	}
	
	.pic .rows td {
		padding: 10px 16px;
	}
	
	.pic .d2 li {
		padding-left: 20px;
		color: #999;
	}
	
	.pic .c-bk {
		color: #111;
	}
	
	.pic li:not (:last-child ) .d2 {
		margin-bottom: 20px;
	}
	
	.pic41 ul.dot {
		overflow: hidden;
		margin-bottom: 12px;
	}
	
	.pic41 ul.dot li {
		float: left;
		margin-right: 30px;
	}
	
	.pic .fw700 {
		font-weight: 700;
		color: #333;
	}
	
	.pic .llb1 {
		padding: 0 4px;
		font-size: 12px;
		line-height: 1.25em;
		color: #fff;
		background-color: #a8a8a8;
	}
	
	.pic41 .cols {
		margin: 8px 0;
	}
	
	.pic .cols {
		border: 1px solid #e0e0e0;
	}
	
	.pic .cols th {
		padding: 12px 5px;
	}
	
	.pic .cols th, .pic .cols td {
		text-align: center;
		border-left: 1px solid #e0e0e0;
		border-right: 1px solid #e0e0e0;
	}
	
	.pic th {
		font-weight: 400;
		line-height: 1.29em;
		color: #333;
		background-color: #f4f4f4;
	}
	
	.pic .cols td {
		padding: 10px;
		text-align: center;
		line-height: 1.57em;
	}
	
	.pic41 ul.dot {
		overflow: hidden;
		margin-bottom: 12px;
	}
	
	.pic41 ul.dot li {
		float: left;
		margin-right: 30px;
	}
	
	.pic44 .process {
		overflow: hidden;
		margin: 10px 0;
	}
	
	.pic44 .process>div {
		float: left;
		width: 31%;
		height: 110px;
		margin-left: 1%;
		padding: 26px 20px 20px;
		text-align: center;
		background-color: #f4f4f4;
	}
	
	.pic44 .process .process1 {
		margin-left: 0;
	}
	
	.pic44 .process strong {
		color: #333;
	}
	
	.pic44 .process strong:before {
		display: inline-block;
		margin-right: 9px;
		vertical-align: -1px;
		content: "";
		font-size: 0;
		width: 10px;
		height: 12px;
		background: url(../../../images/csy/order-processing.png) no-repeat;
	}
	
	.pic44 .process .prcs11:before {
		margin-left: 40px;
		width: 12px;
	}
	
	.pic44 .process .prcs11:after, .pic44 .process .prcs21:after {
		width: 6px;
		margin: 0 8px 0 12px;
		background-position: -95px 0;
	}
	
	.pic44 .process strong:after {
		display: inline-block;
		vertical-align: -2px;
		content: "";
		font-size: 0;
		width: 5px;
		height: 14px;
		background: url(../../../images/csy/order-processing.png) no-repeat;
	}
	
	.pic strong {
		font-weight: 400;
	}
	
	.pic44 .process .prcs12:before {
		background-position: -17px 0;
	}
	
	.pic44 .process .prcs12:after {
		margin-left: 31px;
	}
	
	.pic44 .process .prcs12:after, .pic44 .process .prcs22:after {
		background: none;
		margin-left: 24px;
		background-position: -85px 0;
	}
	
	.pic44 .process div div, .pic44 .process div p {
		margin-top: 14px;
	}
	
	.pic .btn_tp {
		display: inline-block;
		padding: 2px 22px 3px 16px;
		vertical-align: middle;
		font-size: 12px;
		letter-spacing: -0.05em;
		color: #333;
		border: 1px solid #d2d2d2;
		border-radius: 4px;
		background: #fff url(../../../images/csy/bg_btntp.png) no-repeat
			100% 11px;
		cursor: pointer;
	}
	
	.pic .btn_tp+.btn_tp {
		margin-left: 8px;
	}
	
	.pic44 .process .prcs21:before {
		width: 11px;
		background-position: -32px 0;
	}
	
	.pic44 .process .prcs22:before {
		width: 17px;
		margin-left: 0;
		background-position: -48px 0;
	}
	
	.pic44 .process .prcs31:before {
		background-position: -69px 0;
	}
	
	.pic44 .process .prcs12:after, .pic44 .process .prcs22:after, .pic44 .process .prcs31:after
		{
		background: none;
	}
	
	.cart_view_layer {
		display: none;
		position: relative;
		width: 269px;
		height: auto;
		border-bottom: 1px solid #d9d9d9;
		background: #fff;
		color: #333;
	}
	
	.cart_view_layer .inner {
		display: block;
		position: relative;
		border: 1px solid #666;
		width: auto;
		height: auto;
		margin: 0;
		padding: 28px 0 18px;
		background: #fff;
	}
	
	.cart_view_layer .CartInBtn {
		display: block;
		width: auto;
		height: auto;
		margin: 10px 0 0;
		background: transparent;
	}
	
	.cart_view_layer .btn_clse {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 13px;
		height: 13px;
		text-decoration: none;
		cursor: pointer;
		color: black;
	}
	
	.cart_view_layer .CartInBtn a {
		display: inline-block;
		width: 100px;
		height: 24px;
		vertical-align: middle;
		text-decoration: none;
		margin-top: 5px;
		letter-spacing: -1.5px;
		font-size: 12px;
		text-align: center;
		vertical-align: middle;
		line-height: 24px;
	}
	
	.cart_view_layer .arr_btm {
		position: absolute;
		bottom: -6px;
		left: 50%;
		width: 7px;
		height: 6px;
		background: url(http://img1.tmon.kr/static/img/sp_pop.png?v=1499309043)
			no-repeat -290px -44px;
	}
	
	.btn_shopping {
		border: 1px solid black;
		color: black;
	}
	
	.btn_cart_view {
		background-color: black;
		color: white;
	}
	
	.btn_shopping:HOVER {
		color: black;
	}
	
	.btn_cart_view:HOVER {
		color: white;
	}
	
	.modal-content {
		height: 200px;
	}
	
	.modal-header {
		background-color: #ffcc00;
		opacity: .8;
		color: black;
		font-weight: bold;
	}
	
	.modal-body {
		text-align: center;
		line-height: 50px;
		height: 80px;
	}
	
	.modal-footer {
		padding: 0 0;
		text-align: center;
		border: none;
	}
	
	.payBtn, .cartBtn {
		cursor: pointer;
	}
	
	.paging {
		font-family: tahoma, sans-serif;
		text-align: center;
		font-size: 12px;
		margin: 10px 0;
	}
	
	.paging .first, .paging .next {
		margin-right: -4px;
	}
	
	.numbering {
		display: inline-block;
		padding: 3px 10px 0;
	}
	
	.numbering strong {
		color: #4c4c4c;
		background: url(../../../images/csy/numbering_line.gif) no-repeat
			right 2px;
		padding: 0 9px 0 5px;
	}
	
	.numbering a {
		color: #949494;
		background: url(../../../images/csy/numbering_line.gif) no-repeat right 2px;
		padding: 0 9px 0 5px;
		cursor: pointer;
	}
	
	.numbering .last {
		background: none;
	}
	
	.goView{
		cursor: pointer;
	}
	
	.clear {
		clear: both;
	}